@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .menu-style {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
    }
}